<dialog id="modal-perfil" class="modal-perfil">

    <div class="titulo-perfil">
        <H1 id="titulo-perfil">Perfil</H1>
    </div>

    <button id="fechar-modal">X</button>

    <div class="laterais-perfil">
        <div class="esquerda-perfil">
            <div class="container-foto">
                <img id="foto-usuario" src="assets/icons/inserir-foto.svg" alt="">
            </div>
            <button id="enviar-foto-usuario" type="submit">Fazer upload</button>
        </div>

        <div class="direita-perfil">
            <form class="form-edicao-perfil">
                <div class="formulario">
                    <label for="name" class="titulo-input" name="AlterarNomeUser">Nome</label>
                    <input type="name" class="campo-input" placeholder="Seu nome de usuário">

                    <label class="titulo-input">Gênero</label>
                    <select class="campo-input">
                        <option>Masculino</option>
                        <option>Feminino</option>
                        <option>Outro</option>
                    </select>

                    <label class="titulo-input">Descrição</label>
                    <textarea id="campo-descricao" placeholder="Uma breve descrição sobre você"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="rodape-perfil">
        <button type="submit" id="salvar-mudancas">Salvar mudanças</button>

        <button id="fechar-modal2">Cancelar</button>
    </div>
</dialog>