*{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.container-cadastro{
    margin: 0;
    background-image: url(../imagens/fundo\ cadastro.png);
    background-size: 100vw;
    grid-template-columns: 1fr 2fr;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.dados{
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    width: 100vw;
}

.lado-esquerdo{
    color: white;
    margin-left: 35px;
    margin-top: 15%;
}

.titulo-esquerdo{
    width: 50%;
    height: 30%;
    font-size: 30px;
}

.descricao-esquerda{
    margin-top: 40px;
    font-size: 15px;
}

.lado-direito{
    color: black;
    margin-right: 50px;
}

.titulo-direito{
    margin-top: 100px;
    font-size: 30px;
}

.descricao-direita{
    font-size: 16px;
}

.campo-dados{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    font-size: 24px;
}

input{
    margin-top: 5px;
    width: 35vw;
    height: 7vh;
    border-radius: 50px;
    border: 5px solid #B8A28B;
    padding: 5px;
    background-color: #E3D6C8;
    font-size: 25px;
    align-items: center;
}

.requerimento-senha{
    color: #BDAA95;
    margin-top: 15px;
    font-size: 16px;
}

.cadastro{
    margin-top: 70px;
    height: 7vh;
    width: 35vw;
    background-color: #B8A28B;
    border-radius: 50px;
    border: 0px;
    font-size: 24px;
}

.google{
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
    height: 10vh;
    width: 35vw;
    font-size: 24px;
    margin-top: 70px;
    border: 10px solid #B8A28B;
    border-radius: 50px;
    background-color: #E3D6C8;
    margin-bottom: 15px;
}

.imagem-google{
    width: 4vh;
    height: auto;
}

@media(max-width: 1210px){
    .lado-esquerdo{
        margin-top: 20%;
    }
    .titulo-esquerdo{
        font-size: 25px;
    }

    .titulo-direito{
        font-size: 25px;
    }
}

@media(max-width: 1000px)
{
    .titulo-esquerdo{
        font-size: 20px;
    }

    .titulo-direito{
        font-size: 20px;
    }
}

@media(max-width: 810px)
{
    .titulo-esquerdo{
        font-size: 15px;
    }

    .titulo-direito{
        font-size: 15px;
    }
}