@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --marrom-claro: #E3D6C8;
    --marrom: #B8A28B;
    --marrom-escuro: #8E7253;
    --branco: #FFFFFF;
    --preto: #000000;
}

* {
    font-family: "Roboto", sans-serif;
    color: var(--preto);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

.container-login {
    background-image: url(../img-login/fundo-folhas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    width: 100vw;
    height: 100vh;
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 30%;
}

.forms input {
    width: 345px;
    height: 80px;
    background-color: var(--marrom);
    border: none;
    margin-top: 5%;
    padding: 10%;
}

::placeholder {
    color: var(--branco);
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.login-usuario, .login-senha {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icone-usuario, .icone-senha {
    width: 50%;
    height: 50%;
    display: flex;
    position: absolute;
    left: 10%;
    top: 55%;
    transform: translateY(-40%);
}

.icone-usuario img {
    width: 37px;
    height: 37px;
    transform: translateY(8%);
}

.link-esqueci {
    color: var(--preto);
    text-decoration: none;
    margin-top: 1%;
    margin-left: 11%;
}

.link-esqueci:hover {
    color: var(--marrom-escuro);
    text-decoration: underline;
}

.lembre-se {
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 14.5%;
}

.lembre-se input {
    width: 70%;
    height: 70%;
    background-color: var(--marrom-escuro);
}

.botoes { 
    flex-direction: column;
    display: flex;
    margin: 1%;
    width: 17%;
    height: 30%;
}

.botao-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--marrom);
    padding: 7%;
    color: var(--branco);
    font-size: 1.4rem;
    margin-bottom: 4%;
}

.botao-entrar:hover, .botao-cadastro:hover {
    background-color: var(--marrom-claro);
    color: var(--marrom-escuro);
    border-color: var(--marrom-escuro);
    border-radius: 2%;
}

.botao-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--marrom-escuro);
    padding: 7%;
    color: var(--branco);
    font-size: 1.4rem;
    text-decoration: none;
}

.login-erro {
    display: none;
}