@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readery</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <img class="logo-readery" src="~/imgs/Group 47.png" alt="">
        <a class="login" href="">Login</a>
    </header>
    <main>
        <section class="paralax">
            <section class="Inicio">
                <p class="frase-inicio">Readery: Seu diário de leitura e atualizações semanais</p>
                <img class="avre" src="~/imgs/tanvir-himel-HYiyierru2g-unsplash 1.png" alt="">
            </section>
            <section class="Destaques-da-semana">
                <p>Destaques da semana</p>
                <img src="~/imgs/Rectangle 52.png" alt="">
                <img src="~/imgs/Rectangle 52.png" alt="">
                <img src="~/imgs/Rectangle 52.png" alt="">
            </section>
            <section class="Pesquisa-genero">
                <h3>Pesquise o livro pelo genero</h3><br>
                <button class="botao-pesquisa">Pesquisar</button>
            </section>
            <section class="carrossel-livros">
                <img src="~/imgs/Rectangle 52.png" alt="">
                <img src="~/imgs/Rectangle 52.png" alt="">
                <img src="~/imgs/Rectangle 52.png" alt="">
                <img src="~/imgs/Rectangle 52.png" alt="">
                <img src="~/imgs/Rectangle 52.png" alt="">
            </section>
            <section class="cringe">
                <p class="texto-cringe">"Quem lê expande as próprias ideias e se transporta para outros mundos."</p>
            </section>
        </section>
    </main>
    <footer>
        <img class="logo-footer" src="~/imgs/Group 47.png" alt="">
        <p class="texto-footer">Copyright © 2025 Readery | Todos os direitos reservados</p>
    </footer>
</body>

</html>