* {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.logo {
    width: 20vw;
    height: auto;
    margin-top: 10px;
    margin-left: 10px; 
}

.container-cadastro {
    background-image: url(../assets/fundo\ cadastro.png);
    background-size: 100vw;
    grid-template-columns: 1fr 2fr;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    margin: 0;
    height: 105vh;
    width: 100vw;
}

.dados {
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    width: 100vw;
}

.lado-esquerdo {
    color: white;
    margin-left: 3%;
    margin-top: 10%;
}

.titulo-esquerdo {
    width: 60%;
    height: 30%;
    font-size: 25px;
}

.descricao-esquerda {
    margin-top: 30px;
    font-size: 20px;
}

.lado-direito {
    color: black;
    margin-right: 0px;
}

.titulo-direito {
    margin-top: 0px;
    font-size: 30px;
}

.descricao-direita {
    font-size: 20px;
}

.campo-dados {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    font-size: 20px;
}

.Falha{
    color: red;
    align-items: center;
    font-size: 90%;
    margin-left: 15%;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35vw;
    height: 7vh;
    padding-left: 4vw;
    border-radius: 50px;
    border: 4px solid #B8A28B;
    padding: 0px;
    background-color: #E3D6C8;
    font-size: 15px;
    align-items: center;
}

.requerimento-senha {
    color: #BDAA95;
    margin-top: 2px;
    font-size: 20px;
}

.cadastro {
    margin-top: 8px;
    height: 7vh;
    width: 35vw;
    background-color: #B8A28B;
    border-radius: 50px;
    border: 0px;
    font-size: 20px;
}

.btn-carregamento{
    z-index: 100;
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
    transition: all 0.25s ease;
    opacity: 1;
}

.btn-carregamento:after{
    content: '';
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #ffffff;
    animation: loading infinite 0.8 ease 0.05s;
    position: absolute;
}

.btn-carregamento:before{
    content: '';
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #ffffff;
    animation: loading infinite 0.8 linear;
    position: absolute;
    opacity: 0.6;
}

.btn-carregamento.loading{
    width: 5vw;
}

.btn-carregamento.loading i{
    transform: rotate(-90deg);
    padding-bottom: 4px;
    padding-left: 3px;
}

.btn-carregamento .text{
    transform: translate(-140px);
}

.btn-carregamento .loading-animate{
    opacity: 1;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.cadastro:hover{
    background-color: #BDAA95;
}


.linha-separativa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    font-size: 20px;
    gap: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.linha-decorativa {
    width: 20vw;
    height: 2px;
    background-color: black;
    opacity: 0.5;
}

.google {
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
    height: 10vh;
    width: 35vw;
    font-size: 20px;
    border: 10px solid #B8A28B;
    border-radius: 50px;
    background-color: #E3D6C8;
    margin-bottom: 0px;
}

.google:hover{
    background-color: rgb(211, 191, 169);
}
.imagem-google {
    width: 4vh;
    height: auto;
}


@media(max-width: 1200px) {
    .logo {
        width: 30vw;
        margin-bottom: 1%;
        margin-top: 1%;
    }

    .container-cadastro {
        background-image: url(../assets/fundo\ cadastro\(mobile\).png);
        height: 130vh;
        width: 120vw;
        background-size: 100% 100%;
    }

    .dados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        align-items: center;
    }

    .lado-esquerdo {
        color: white;
        margin-left: 35px;
        margin-top: 2%;
    }

    .titulo-esquerdo {
        font-size: 25px;
        width: 75vw
    }

    .descricao-esquerda {
        margin-top: 40px;
        font-size: 30px;
        margin-bottom: 5%;
    }


    .lado-direito {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        width: 100%;
        margin-top: 20;
    }


    .titulo-direito {
        margin-top: 50%;
        font-size: 30px;
        width: 100vw;
        margin-right: 0;
        margin-left: 29%;
    }

    .descricao-direita {
        font-size: 30px;
    }

    .campo-dados {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        font-size: 30px;
        justify-content: center;
    }

    input {
        display: flex;
        width: 80vw;
        height: 7vh;
        font-size: 30px;
        border-radius: 50px;
    }

    .requerimento-senha {
        margin-top: 15px;
        font-size: 30px;
    }

    .cadastro {
        margin-top: 8px;
        height: 7vh;
        width: 80vw;
        border-radius: 50px;
        font-size: 30px;
    }

    .linha-separativa {
        width: 90%;
        font-size: 30px;
        margin-left: 2%;
    }

    .linha-decorativa {
        width: 900%;
    }

    .google {
        display: flex;
        justify-content: center;
        gap: 18px;
        align-items: center;
        height: 10vh;
        width: 80vw;
        font-size: 30px;
        margin-bottom: 15px;
    }

    .imagem-google {
        width: 4vh;
        height: auto;
    }
}

@media(max-width: 1100px){
    .titulo-direito{
        margin-top: 5%;
    }
}

@media(max-width: 860px) {
    .titulo-esquerdo {
        font-size: 20px;
    }

    .descricao-esquerda{
        margin-top: 10%;
    }

    .titulo-direito {
        margin-top: 15%;
        font-size: 25px
    }
    .descricao-direita{
        font-size: 15;
    }
    


}