* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3D6C8;
} 


header {
    display: flex; /*coloca na mesma linha*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #B8A28B;
    height: 20vh;
}

.logo-readery {
    height: 70px;
}
.login {
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    color: #ffff; /* Cor do texto */
    font-weight: bold; /* Deixa o texto em negrito */
    font-family: 'Merriweather', serif;
}

.Inicio {
    display: flex; /*coloca na mesma linha*/
    justify-content: space-between;
    align-items: end;
}

.frase-inicio {
    margin: 50px;
    padding: 50px;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.avre {
    height: 100%;
    align-items: normal;
}
/*Aumentar espaçamento */
.Destaques-da-semana {
    font-size: 50px;
    display: flex; /*coloca na mesma linha*/
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #B8A28B;
}

.Destaques-da-semana img {
    transition: transform 0.3s ease-in-out; /* Suaviza a animação */
}

.Destaques-da-semana img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% */
}

/* .Pesquisa-genero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    height: 100px;
    background: none;
} */

/* .texto-pesquise {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 50px;
    font-weight: 300px;
} */

/* .Pesquisa-botao {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px;
    background-color: #B8A28B;
    color: black;
    padding: 12px 26px;
    text-decoration: none;
    font-weight: 700;
    transition: transform .15s ease;
} */

/* faz a section ocupar o espaço restante */
.Pesquisa-genero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50%; /* Aumenta a altura para 120% da altura da tela */
    padding: 5%;
}

.carrossel-livros {
    background-color: #B8A28B;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.carrossel-livros img {
    transition: transform 0.3s ease-in-out; /* Suaviza a animação */
}

.carrossel-livros img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% */
}

.cringe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("Rectangle 143.png");
    height: 100%;
}

.texto-cringe {
    text-shadow: #594747 0.1em 0.1em 0.2em;
    font-size: 30px;
}

.logo-footer {
    height: 70px;
}


.paralax {
    background-image: url(../background2.png);
    background-repeat: no-repeat;
    /* background-position: top bottom; */
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: AUTO;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
} 

footer {
    background-color: #B8A28B;
    display: flex; /*coloca na mesma linha*/
    align-items: center;
    justify-content:space-around;
}

@media (min-width: 768px) {
}