dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente */
}

dialog.modal-perfil {
    /* Centralizacao do dialog na tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 70vh;
    width: 70vw;
    padding: 20px;
    display: flex;
    flex-direction: column;

    border: none;
    overflow: hidden;
    /* Previne barras de rolagem indesejadas */
}

.titulo-perfil {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.rodape-perfil {
    margin-top: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
}

.laterais-perfil {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15%;
}

.esquerda-perfil,
.direita-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: left;
}