dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente */
}

.modal-perfil {
    /* Centralizacao do dialog na tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 70vh;
    width: 60vw;
    padding: 20px;
    display: flex;
    flex-direction: column;

    border: none;
    /* Desabilita barra de rolagem */
    overflow: hidden;
}

/* TITULO */

.titulo-perfil {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-family: "Roboto";
    font-size: smaller;
    font-weight: 400;
}

#titulo-perfil {
    background-color: var(--marrom-claro);
    display: inline-block;
    padding: 5px 15px;
}

/* RODAPE */

.rodape-perfil {
    margin-top: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
}

/* POSICIONAMENTO LATERAL */

.laterais-perfil {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 8%;
}

.esquerda-perfil,
.direita-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LATERAL ESQUERDA */

.esquerda-perfil {
    max-width: 30vh;
    max-height: 40vw;
}

.container-foto {
    background-color: aqua;
    width: 10vh;
    height: 10vw;
}

#foto-usuario {
    max-width: 12vh;
    max-height: 15vw;
}

/* LATERAL DIREITA */

.formulario {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.campo-modal {
    font-family: "Roboto";
    font-size: large;
    font-weight: 400;
}

label.campo-modal+input {
    font-family: "Roboto";
    font-size: small;
    padding: 2px 4px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border-color: var(--marrom-escuro);
    border-radius: 5px;
}

/* BOTOES */

#enviar-foto-usuario {
    cursor: pointer;
    background-color: var(--marrom-claro);
    border-color: var(--marrom-escuro);
    border-radius: 5px;
    padding: 2px 5px;
}

#salvar-mudancas {
    cursor: pointer;
    background-color: var(--marrom-claro);
    border-radius: 5px;
    border: 2px solid var(--marrom-escuro);
    padding: 5px 0px;
    width: 10vw;
    font-weight: 500;
    margin-top: 10px;
}

#fechar-modal {
    cursor: pointer;
    border: none;
    font-weight: bold;
    text-decoration: underline;
}