/*
CSS -
nav 
{
  Logo: a esquerda (Distancia das bordas)
  Texto: login a direita (Distancia das bordas)
  Cor de fundo
}

header (Distancia entre as imagens)
{
  Texto: centro
  Arvore: centro
}

section destaques (Distancia entre elementos)
{
  Texto, Imagens: Centralizado
  Cor de fundo
}

Section pesquisa 
{
  Texto
  Ancora { Cor de fundo }
  Imagem com efeito paralax
}

Section carrossel
{
  Imagens e efeito carrossel
}

Section texto cringe
{
  Texto { efeito sombreado }
  Imagem de fundo
}

footer
*/