:root 
{
    --bege: #E3D6C8;
    --vermelho: #d40000;
    --begeescuro: #B8A28B;
    --corfolhas: #cdb69d;
}

.modal 
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    background-color: var(--bege);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 6px;
}

.overlay 
{
    display: none;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;

}

.botao-fechar {
    background-color: #d40000; 
    border-radius: 6px;
    position: absolute;
    z-index: 1001; /* Garante que fique acima de TUDO no modal */
    top: 0;
    right: 0;
    margin: 5px;
    width: 30px; /* Defina um tamanho para garantir o clique */
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    color: white; /* Para o X aparecer */
}

.botao-fechar:hover
{
    background-color: #964444;
}

.botao-salvar
{
    background-color: var(--begeescuro);
    border-radius: 3px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
    font-weight: 550;
    height: 25px;
    margin: 5px;
    cursor: pointer;
    border: none;
    width: 100px;
    margin-bottom: 8px;
}

.botao-salvar:hover
{
    background-color: #9b876c;
}

.titulo-topo, .botao-foto, .nome, .genero, .sinopse, .paginas, .paginas-caixa
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topo 
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.titulo-topo 
{
    position: relative;
    z-index: 0;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--begeescuro);
    width: 155px;
    height: 35px;
    border-radius: 4px;
    font-weight: 500;
    font-size: medium;
}

.meio 
{
    margin-top: 20px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 0;
}

.vl 
{
    position: absolute;
    border-left: 2px solid var(--begeescuro);
    opacity: 60%;
    height: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
    z-index: 0;
    Pointer-events: none;
}

.meio-esquerda,
.meio-direita 
{
    width: 48%;
    height: 80%;
    z-index: 0;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meio-esquerda 
{
    left: 0px;
}

.meio-direita 
{
    right: 0;
    flex-direction: column;
    overflow-y: initial /*adicionei*/
}


.folha1,
.folha2,
.folha3,
.folha4 
{
    width: 15%;
    height: auto;
    min-width: 50px;
    max-width: 90px;
    z-index: -1;
    position: absolute;
}

.folha1
{
    left: 0px;
    top: 0px;
}

.folha2 
{
    left: 15px;
    bottom: 25px;
}

.folha3 
{
    bottom: 10px;
    right: 20px;
    transform: rotate(45deg);
}

.folha4 
{
    right: 15px;
    top: 25px;
}

.foto 
{
    align-items: center;
    justify-content: center;
}

.botao-foto 
{
    margin-top: 8px;
    padding: 8px 16px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: var(--begeescuro);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: medium;
}


.botao-foto:hover
{
    background-color: #9b876c;
}

.sem-foto 
{
    width: 250px;
    height: 350px;
    min-width: 190px;
    max-width: 450px;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 4px;
}

.input-escondido 
{
    display: none;
}

.genero-livro, .sinopse-livro, .nome-texto, .paginas-livro, .autor-texto
{
    font-size: x-large;
    font-weight: 600;
}

.genero-caixa, .sinopse-caixa, .nome-caixa, .paginas-caixa, .autor-caixa
{
    border-radius: 4px;
    border-width: 1px;
    width: 230px;
    padding: 5px;
    margin-bottom: 8px;
}

.nome-caixa, .genero-caixa, .paginas-caixa, .autor-caixa
{
    height: 16px;
    margin-bottom: 8px;
}

.sinopse-caixa 
{
    height: 100px;
    margin-bottom: 8px;
    resize: none;
    font-family: inherit;
}